{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if user.is_authenticated %}
<div class="content">
   <div>
       <div class="row">
           <div class="col-lg-12">
               <div class="col-md-12 prueba">
                   <div class="card bg-primary">
                       <div class="card-body">
                           <blockquote class="blockquote mb-0 text-light text-center">
                               <h1 class="text-light">{{ user.username | upper }} BIENVENIDO A CEMARCITAS</h1>
                               <h2 class="blockquote-footer text-light">"Crea tu cita en un instante" -</h2>
                            
                           </blockquote>
                       </div>
                   </div>
               </div>
            
       </div>
   </div>
</div>

{% else %}

<div class="content">
   <div>
       <div class="row">
           <div class="col-lg-12">
             
               <div class="col-md-12 prueba">
                   <div class="card bg-primary">
                       <div class="card-body">
                           <blockquote class="blockquote mb-0 text-light text-center">
                               <h1 class="text-light"> BIENVENIDO A CEMARCITAS</h1>
                               <h2 class="blockquote-footer text-light">"Ingresa para que disfrutes de la comodidad de crear tu cita" -</h2>
                           </blockquote>
                           
                   </div>
                   
               </div>
            
       </div>
   </div>
</div>
{% endif %}
{% endblock %}
