{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="es">

<head>

    <!-- Custom fonts for this template -->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css'%}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/sb-admin-2.min.css'%}" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css'%}" rel="stylesheet">

</head>
<body>
    <div class="container-fluid ">
        <div class="card shadow mb-4">
                                <!-- titulo -->
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">CITAS ATENDIDAS</h6>
                                </div>

        {% if citas_atendidas %}
        <div class="card-body">
            <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Doctor</th>
                        <th>Estado</th>
                        <th>Detalles</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cita in citas_atendidas %}
                        <tr>
                            <td>{{ cita.fecha }}</td>
                            <td>{{ cita.doctor.first_name|capfirst|add:" "}}{{ cita.doctor.last_name|capfirst }}</td>
                            <td>
                                {% if cita.atendida %}
                                  <span class="badge badge-success">Atendida</span>
                                {% else %}
                                  <span class="badge badge-warning">Pendiente</span>
                                {% endif %}
                            </td>
                         
                            <td>
                                <a href="{% url 'detalle_cita_paciente' cita.id %}" class="btn btn-primary btn-circle"><i class="fa-solid fa-file-lines" style="color: #ffffff;"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

        {% else %}
        <div class="card-body">
            <div class="table-responsive">
                <h1>No tienes citas atendidas hasta el momento.</h1>
            </div>
        </div>  
        {% endif %}
    </div>
   
{% endblock %}
<!-- Bootstrap core JavaScript-->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Core plugin JavaScript-->
<script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

<!-- Custom scripts for all pages-->
<script src="{% static 'js/sb-admin-2.min.js' %}"></script>

<!-- Page level plugins -->
<script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

<!-- Page level custom scripts -->
<script src="{% static 'js/demo/datatables-demo.js' %}"></script>

  </body>
  </html>

