{% extends 'base.html' %}

{% block content %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliminar Cita Médica</title>
</head>
<body>
    <h1>Eliminar Cita Médica</h1>

    <p>¿Estás seguro de que deseas eliminar la  cita?</p>


    <form method="post">
        {% csrf_token %}
        <button type="submit" onclick="return confirm('¿Estás seguro de eliminar esta cita?')">Eliminar</button>
    </form>

    <a href="{% url 'lista_citas' %}">Cancelar y volver a la lista de citas</a>
</body>
</html>


{% endblock %}

