{% extends 'base.html' %}

{% block content %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Citas Médicas</title>
</head>
<body>
    <h1>Lista de Citas Médicas</h1>

    <ul>
        {% for cita in citas %}
            <li>
                {{ cita.nombre_doctor }} - {{ cita.fecha }} a las {{ cita.hora }}
                <a href="{% url 'modificar_cita' cita.id %}">Modificar</a>
                <a href="{% url 'eliminar_cita' cita.id %}" >Eliminar</a>
            </li>
        {% empty %}
            <li>No hay citas registradas.</li>
        {% endfor %}
    </ul>

    <a href="{% url 'crear_cita' %}">Crear nueva cita</a>
</body>
</html>



{% endblock %}
