{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="es">

<head>

    <!-- Custom fonts for this template -->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css'%}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/sb-admin-2.min.css'%}" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css'%}" rel="stylesheet">
 
</head>
<div class="container-fluid ">
    <div class="card shadow mb-4">
        <form class="user">
                            <!-- titulo -->
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">MIS CITAS</h6>
                                <div style="text-align: right;">
                                    <a href="{% url 'seleccionar_doctor' %}" type="button" class="btn btn-primary btn-user " >AGENDAR CITA</a>  
                                      
                                  </div>
                            </div>
                            {% if messages %}
                         
                                <ul>
                                    {% for message in messages %}
                                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                    {% endfor %}
                                </ul>
                           
                            
                        {% endif %}
                            {% if citas_pendientes %} 
                            <div class="card-body">

                              



                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Fecha</th>
                                            <th>Hora de Inicio</th>
                                            <th>Hora de Fin</th>
                                            <th>Doctor</th>
                                            <th>Estado</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for cita in citas_pendientes %}
                                            <tr>
                                                <td>{{ cita.fecha }}</td>
                                                <td>{{ cita.hora_inicio }}</td>
                                                <td>{{ cita.hora_fin }}</td>
                                                <td>{{ cita.doctor.first_name|capfirst|add:" "}}{{ cita.doctor.last_name|capfirst }}</td>
                                                <td>
                                                    {% if cita.atendida %}
                                                        <span class="badge badge-success">Atendida</span>
                                                    {% else %}
                                                        <span class="badge badge-warning">Pendiente</span>
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    <a href="{% url 'detalle_cita' cita.id %}" class="btn btn-primary btn-circle btn-user "><i class="fa-solid fa-eye" style="color: #ffffff;"></i></a>
                                                    <a href="{% url 'eliminar_cita' cita.id %}" class="btn btn-danger btn-circle btn-user "><i class="fa-solid fa-trash-can" style="color: #f1f2f3;"></i></a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                  <!-- Paginación -->
                <div class="pagination justify-content-center">
                    <span class="step-links">
                        {% if citas_pendientes.has_previous %}
                            <a href="?page=1" class="btn  bg-gray-100 btn-icon-split">&laquo; </a>
                            <a href="?page={{ disponibilidades.previous_page_number }}" class="btn  bg-gray-100 btn-icon-split">anterior</a>
                        {% endif %}

                        <span class="current">
                            Página {{ citas_pendientes.number }} de {{ citas_pendientes.paginator.num_pages }}.
                        </span>
                       
                        {% if citas_pendientes.has_next %}
                            <a href="?page={{ citas_pendientes.next_page_number }}" class="btn  bg-gray-100 btn-icon-split">siguiente</a>
                            <a href="?page={{ citas_pendientes.paginator.num_pages }}" class="btn  bg-gray-100 btn-icon-split"> &raquo;</a>
                        {% endif %}
                    </span>
                </div>   <!-- fin Paginación -->
                            </div>
                        </div>
                        {% else %}
            
                            <div class="card-body">
                                <div class="table-responsive">
                                    <h1>No tienes citas agendadas</h1>
                                </div>
                            </div>       
                    {% endif %}
                </form>

    </div>

{% endblock %}
