{% extends 'base.html' %}

{% block content %}
 
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modificar Cita Médica</title>
</head>
<body>
    <h1>Modificar Cita Médica</h1>

    <form method="POST">
        {% csrf_token %}
        <div>        <label for="id_nombre_doctor">Nombre del Doctor:</label></div>
       <div>{{ form.nombre_doctor }}</div> 

        <div><label for="id_fecha">Fecha:</label></div>
        <div>{{ form.fecha }}</div>

        <div><label for="id_hora">Hora:</label></div>
        <div>{{ form.hora }}</div>

        <div><button type="submit" onclick="return confirm('¿Estás seguro de guardar los cambios en esta cita?')">Guardar Cambios</button></div>
    </form>

    <a href="{% url 'lista_citas' %}">Volver a la lista de citas</a>
</body>
</html>

{% endblock %}


