{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
  <div class="row justify-content-center mt-5"> <!-- Agregamos una fila y centramos el contenido verticalmente -->
    <div class="col-md-6"> <!-- Establecemos el ancho de la columna -->
      <div class="card shadow mb-4">
          <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">ELIMINAR DOCTOR</h6>
          </div>
          <div class="card-body">
            <div class="row justify-content-center">
              <div class="form-group">
            <p>¿Estás seguro de que quieres eliminar este doctor?</p>

              <form class="user" method="POST">
                  {% csrf_token %}
                  <div class="row justify-content-center">
                    <div class="form-group col-md-9">
                        <div class="row">
                   <input type="hidden" name="pk" value="{{ object.pk }}">
                   <div class="col-md-6">
                    <a href="{% url 'ListarDoctor' %}" type="button" class="btn-user btn btn-primary btn-block">Cancelar</a> 

                   </div>
                  <div class="col-md-6">
                    <button type="submit" class="btn-user btn btn-danger btn-block" >Eliminar</button>

                  </div>
                      </div>
                    </div>
                  </div>
              </form>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}